@CHARSET "UTF-8";

.wholeauth-dataloader {
    position: fixed;
    display: none;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background: rgba(200, 200, 200, .75);
    z-index: 400;
}

.wholeauth-dataloader>p {
    padding: 0;
    margin: 0;
    cursor: default;
    font: 14px arial;
}

.wholeauth-worker {
    position: fixed;
    display: none;
    z-index: 500;
}

.wholeauth-worker .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 510;
}

.wholeauth-worker .content {
    position: fixed;
    top: 50%;
    left: 50%;
    font: 22px Arial;
    text-align: center;
    color: #fff;
    z-index: 520;
}